iot_home/node-red/flows.json
[
    {
        "id": "7272add2321d25d8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "36f157eaed4b2da6",
        "type": "mqtt in",
        "z": "7272add2321d25d8",
        "name": "",
        "topic": "rfid/reader/uid",
        "qos": "2",
        "datatype": "auto",
        "broker": "6408bc7d479b5b8a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 120,
        "wires": [
            [
                "5a6e78772ec20b95"
            ]
        ]
    },
    {
        "id": "7c95f649fdb09c00",
        "type": "switch",
        "z": "7272add2321d25d8",
        "name": "tag check",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "835c6f97",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "none",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 400,
        "y": 120,
        "wires": [
            [
                "50fd11c824585ced",
                "cd6513e8f3d47a45",
                "ef716f5f0d86e0c8"
            ],
            [],
            [
                "7fa24b22372b4a38",
                "327eb90b8940d1b4"
            ]
        ]
    },
    {
        "id": "50fd11c824585ced",
        "type": "trigger",
        "z": "7272add2321d25d8",
        "name": "",
        "op1": "on",
        "op2": "off",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 560,
        "y": 20,
        "wires": [
            [
                "328c461588027ae3"
            ]
        ]
    },
    {
        "id": "328c461588027ae3",
        "type": "mqtt out",
        "z": "7272add2321d25d8",
        "name": "",
        "topic": "buzzer/g_led/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6408bc7d479b5b8a",
        "x": 780,
        "y": 20,
        "wires": []
    },
    {
        "id": "7fa24b22372b4a38",
        "type": "trigger",
        "z": "7272add2321d25d8",
        "name": "",
        "op1": "sound",
        "op2": "no_sound",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 520,
        "y": 220,
        "wires": [
            [
                "60a68a923d1420c2"
            ]
        ]
    },
    {
        "id": "60a68a923d1420c2",
        "type": "mqtt out",
        "z": "7272add2321d25d8",
        "name": "",
        "topic": "buzzer/buzzer/set",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6408bc7d479b5b8a",
        "x": 710,
        "y": 220,
        "wires": []
    },
    {
        "id": "5a6e78772ec20b95",
        "type": "rbe",
        "z": "7272add2321d25d8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "7c95f649fdb09c00"
            ]
        ]
    },
    {
        "id": "cd6513e8f3d47a45",
        "type": "trigger",
        "z": "7272add2321d25d8",
        "name": "",
        "op1": "off",
        "op2": "on",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 600,
        "y": 60,
        "wires": [
            [
                "bc4505f41acf6639"
            ]
        ]
    },
    {
        "id": "bc4505f41acf6639",
        "type": "mqtt out",
        "z": "7272add2321d25d8",
        "name": "",
        "topic": "lock/lock/set",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6408bc7d479b5b8a",
        "x": 830,
        "y": 80,
        "wires": []
    },
    {
        "id": "5ac13772b3b5f622",
        "type": "mqtt in",
        "z": "7272add2321d25d8",
        "name": "",
        "topic": "buzzer/knock",
        "qos": "2",
        "datatype": "auto",
        "broker": "6408bc7d479b5b8a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 300,
        "wires": [
            [
                "91893d9c7a9fc544"
            ]
        ]
    },
    {
        "id": "ad55404081d98dc9",
        "type": "mqtt in",
        "z": "7272add2321d25d8",
        "name": "",
        "topic": "motion/motion",
        "qos": "2",
        "datatype": "auto",
        "broker": "6408bc7d479b5b8a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 420,
        "wires": [
            [
                "9dd5b47d04377388"
            ]
        ]
    },
    {
        "id": "58ebbd1222fd0f07",
        "type": "switch",
        "z": "7272add2321d25d8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "knock",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 300,
        "wires": [
            [
                "ba6c47720f93cd70"
            ],
            []
        ]
    },
    {
        "id": "e5e1ced7f45a5c84",
        "type": "switch",
        "z": "7272add2321d25d8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "motion",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 400,
        "wires": [
            [
                "dc0a0b870d670260"
            ],
            []
        ]
    },
    {
        "id": "ba6c47720f93cd70",
        "type": "delay",
        "z": "7272add2321d25d8",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 580,
        "y": 300,
        "wires": [
            [
                "86999c3dbde10ffe"
            ]
        ]
    },
    {
        "id": "91893d9c7a9fc544",
        "type": "rbe",
        "z": "7272add2321d25d8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 270,
        "y": 300,
        "wires": [
            [
                "58ebbd1222fd0f07"
            ]
        ]
    },
    {
        "id": "9dd5b47d04377388",
        "type": "rbe",
        "z": "7272add2321d25d8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 240,
        "y": 400,
        "wires": [
            [
                "e5e1ced7f45a5c84"
            ]
        ]
    },
    {
        "id": "dc0a0b870d670260",
        "type": "delay",
        "z": "7272add2321d25d8",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 590,
        "y": 400,
        "wires": [
            [
                "aef7e2e93d044e27"
            ]
        ]
    },
    {
        "id": "86999c3dbde10ffe",
        "type": "mqtt out",
        "z": "7272add2321d25d8",
        "name": "",
        "topic": "alert/knock",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fd3c7db175c15c50",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "aef7e2e93d044e27",
        "type": "mqtt out",
        "z": "7272add2321d25d8",
        "name": "",
        "topic": "alert/motion",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fd3c7db175c15c50",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "ef716f5f0d86e0c8",
        "type": "mqtt out",
        "z": "7272add2321d25d8",
        "name": "",
        "topic": "alert/rfid/success",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fd3c7db175c15c50",
        "x": 610,
        "y": 100,
        "wires": []
    },
    {
        "id": "327eb90b8940d1b4",
        "type": "mqtt out",
        "z": "7272add2321d25d8",
        "name": "",
        "topic": "alert/rfid/failed",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fd3c7db175c15c50",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "06475b577970dc39",
        "type": "mqtt in",
        "z": "7272add2321d25d8",
        "name": "",
        "topic": "door/lock/set",
        "qos": "2",
        "datatype": "auto",
        "broker": "fd3c7db175c15c50",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 40,
        "wires": [
            [
                "94288fde706b67e3",
                "cd6513e8f3d47a45",
                "50fd11c824585ced"
            ]
        ]
    },
    {
        "id": "94288fde706b67e3",
        "type": "debug",
        "z": "7272add2321d25d8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 270,
        "y": 80,
        "wires": []
    },
    {
        "id": "6408bc7d479b5b8a",
        "type": "mqtt-broker",
        "name": "mqtt local broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "fd3c7db175c15c50",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.17.90.111",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]